src/main/mule/demo-jenkins-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="de7d25c9-55b2-4ca0-8133-6d43f5e1c6cc" basePath="/timezone">
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="7a36fe5f-1f5e-4723-9b43-25db3c8c629a" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="demo-jenkins-cicdFlow" doc:id="daa9562c-0560-4cd3-915b-e7125925da63" >
		<http:listener doc:name="Listener" doc:id="bcc459a5-130b-487e-a85f-4335663c12e3" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="5f0e1617-3521-454e-8ee1-7965edd0aa59" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
